.pageChartGames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.liquid{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 290px;
}

.pieGroup {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.pie {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    margin-left: 15px;
    width: 480px;
}

.lineGames {
    margin-top: 100px;
    width: 900px;
    height: 250px;
}