.purpose_main {
    display: flex;
    border-radius: 15px 15px 15px 15px;
    box-shadow: -1px 1px 5px -1px #464545;
    margin: 20px;
    padding: 10px;
    width: 1150px;
}

.purpose_cards_static {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.purpose_main_2 {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.purpose_bar_1 {
    margin-right: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.purpose_cards_static {
    margin-top: 20px;
    margin-bottom: 20px;
}

.purpose_cards_graf {
    display: flex;
    justify-content: space-around;
}

.purpose_cards_dinamic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}