.rate_sum {
    display: flex;
    justify-content: center;
    height: 350px;
}

.input_sum {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.liquid {
    height: 350px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tableCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}