.table-row-dark {
    background-color: #ffffff;
    text-align: center;
}
.table-row-light {
    background-color: #61D9AA;
    text-align: center;
}

.table-row-light-to {
    background-color: #d7d961;
    text-align: center;
}