.poster {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.card_poster {
    margin: 5px 5px 5px 5px;
    width: 205px;
}

.footerScratch {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    margin-bottom: 25px;
}